p {
    line-height: 1.5;
}

.btn {
    border-radius: 0 !important;
}

.bg-portfolio {
    background-color: #ffeddb;
    height: 100%;
    width: 100%
}

.project-img {
    border: 6px solid #fff;
    width: 300px;
    height: 225px;
}

.portfolio-name {
    color: #1b2947;
}
